<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDaACEciennJ-aJomd_1VixyDoY-v1sjGE", :async=> true %>

<h2>Showing last 100 tweets from "<%=link_to @twitter_user, "https://twitter.com/#{@twitter_user}"%>"</h2>
<br>
<% if @loc.empty? and @city.present? %>
  <div id="map-canvas"></div>
  <%= javascript_tag do %>
    window.city = '<%= @city %>';
  <% end %>
  <br>
<% elsif not @loc.empty? %>
  <h3><%= @twitter_user %> tweets from <%= @city %></h3>
  <div id="map-canvas"></div>
  <%= javascript_tag do %>
    window.locations_array = <%= raw @loc.to_json %>;
  <% end %>
<% end %>


<table class="table table-striped">
  <th>Tweets</th>
  <% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.text %></td>
  </tr>
  <% end %>
</table>
